<div class="base">
    <div class='title'> <span id="friendTitle">Pet</span> Finder</div>
    <hr>
    <div class="subtitle">
        <div class="hello">
            Lets find you a friend!
        </div>
        <a href='/survey'><button class='button' type='button'>I'm Ready!</button></a>
    </div>
</div>